

<row>
  <div class="col-md-12">
    <h1>Hi there <%= @user.email %></h1>
  </div>
</row>

<row>
  <div class="col-md-6">
    <h3>Your current to do items are:</h3>
    <br>
    <ul>
      <% @items.each do |item| %>

       <li><h4> <%= item.name %> <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %></h4></li>
        <%= distance_of_time_in_words(item.created_at, item.created_at + 7.days, include_seconds: true) %> left to complete task
    <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <%= render 'items/form', item: Item.new, post: @post %>
  </div>
</row>